<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Cadastro de produtos</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<form class="form-horizontal form-label-left" ng-submit="vm.verificaPin(0,2)" novalidate>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome" >Nome</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" id="nome" class="form-control col-md-7 col-xs-12" name="nome" ng-model="vm.novoProduto.nome">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="tipo">Tipo</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" id="tipo" class="form-control col-md-7 col-xs-12" name="tipo" ng-model="vm.novoProduto.tipo">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="valor">Valor</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="number" min="0" steps="0.01" class="form-control col-md-7 col-xs-12" name="valor" id="valor" ng-model="vm.novoProduto.valor">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="estoque">Estoque</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="number" min="0" steps="0.01" class="form-control col-md-7 col-xs-12" name="estoque" id="estoque" ng-model="vm.novoProduto.estoque">
						</div>
					</div>
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
							<button type="submit" class="btn btn-success">Cadastrar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>