<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Buscar produtos</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<form class="form-horizontal form-label-left" ng-submit="vm.listarProduto();" name="buscaProduto" novalidate>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome" >Nome</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" id="nome" class="form-control col-md-7 col-xs-12" name="nome" ng-model="vm.fields.nome">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="tipo">Tipo</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" id="tipo" class="form-control col-md-7 col-xs-12" name="tipo" ng-model="vm.fields.tipo">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
							<button ng-click="vm.fields={};vm.listarProduto();" class="btn btn-primary">Limpar campos</button>
							<button type="submit" class="btn btn-success">Buscar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Produtos Cadastrados</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content" style="display: block;">
				<table class="table table-striped" ng-show="vm.produtos.length>0">
					<thead>
						<tr>
							<th>Código</th>
							<th>Nome</th>
							<th>Tipo</th>
							<th>Valor</th>
							<th>Estoque</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in vm.produtos" >
							<td>{{p.id}}</td>
							<td>{{p.nome}}</td>
							<td>{{p.tipo}}</td>
							<td>{{p.valor}}</td>
							<td>{{p.estoque}}</td>
							<td>
								<a data-ng-click="vm.verificaPin(p.id,1);" class="cursor"><i class="fa fa-trash"></i></a>
								<a data-ng-click="vm.verificaPin(p,3);" class="cursor"><i class="fa fa-pencil"></i></a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="alert alert-warning alert-dismissible fade in" role="alert" ng-show="vm.produtos.length<=0">
					<strong>Opss!</strong> Nenhum produto encontrado!.
				</div>
			</div>
		</div>
	</div>
</div>


<button type="button" style="display:none;" class="btn btn-primary edit-modal" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

<div class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="myModalLabel2">Editar produto</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal form-label-left" ng-submit="vm.salvarEdicao();" novalidate>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="valor">Valor</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="number" min="0" steps="0.01" class="form-control col-md-7 col-xs-12" name="valor" id="valor" ng-model="vm.produtoParaEditar.valor">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="estoque">Estoque</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="number" min="0" steps="0.01" class="form-control col-md-7 col-xs-12" name="estoque" id="estoque" ng-model="vm.produtoParaEditar.estoque">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button class="btn btn-primary" type="submit">Save changes</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>